.img-card-container {
    margin: 5px;
    display: flex;
    flex-direction: column;    
}
.img-card-subcontainer {
    display: flex;
    justify-content: center;
}
.img-dialog-container {
    display: flex;
    justify-content: center;
}